[submodule "whitelist-transfer-hook"]
	path = whitelist-transfer-hook
	url = https://github.com/Cheapstar/whitelist-transfer-hook.git
[submodule "escrow-anchor"]
	path = escrow-anchor
	url = https://github.com/Cheapstar/escrow-anchor.git
[submodule "magicblock-er-example"]
	path = magicblock-er-example
	url = https://github.com/Cheapstar/magicblock-er-example.git
[submodule "transfer-hook-vault"]
	path = transfer-hook-vault
	url = https://github.com/Cheapstar/transfer-hook-vault.git
